/* USO DE HERENCIA */

%message {
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
border: 1px solid black;
padding: 20px;
margin: 20px;
}

.success {

@extend %message;
background-color: #e2b4b1;
}

.warning {

@extend %message;
background-color: #8b4371;
}

.error {

@extend %message;
background-color: #bfff00;
}

/* USO VARIABLES*/
$color: #ff0000;

ol {
font-size: 30px;
color: $color;
}
/* Propiedades Anidacion reglas anidacion parrafos pares e impares*/

$evenBackgroundColor: #02d6fe;
$oddBackgroundColor: yellow;
$paragraphsPadding: 50px;
$paragraphsBorder: 1px solid black;
$paragraphsBorderRadius: 6px;

p {
    border: $paragraphsBorder;
    border-radius: $paragraphsBorderRadius;
    padding: $paragraphsPadding;

    &:nth-of-type(odd) {
        background-color: $oddBackgroundColor;
    }
    &:nth-of-type(even) {
        background-color: $evenBackgroundColor;
    }
}
