/*selectores */
body > header{
background: #000080;
color : white;

}
/* selectores pseudoclase*/
  a{
      text-decoration:none;
      }
      a:visited{
          color:#e200e2;
      }
      a:hover{
          text-decoration:underline;
      }
h1,h4 {
  text-align: center;
  font-family: fantasy;
  font-style: oblique;

}

h3 {
  padding-left: 1em;
  background-color:lightgray;
  text-align: center;
  }
  p
  {
      text-align: justify;
      color:gray;
      font-family: cursive;
      font-style: italic;
      font-size: 25px;
  }

  ::after {
    All elements <h3> table proyectos
}
  ::selection {
  All elements of table;
}

/* @consultamedia the screen size is 600px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 499px) {
  div.header {
    font-size: 5px;
    color: white;
    }
}
/*@mediaconsulta orientacion de la pantalla cambia según la orientación de la pantalla:*/
@media (orientation: portrait) {
  html {
    background-color: lightblue;
  }
}
