  h1 {
padding-left: 1em;
font-family: Georgia, "Times New Roman",
      Times, serif;
color: white;
text-align: center;
background-color:#000080
}
ul.navbar {
  list-style-type: none;
  padding: 0.3em;
  margin: 0.3em;
  top: 0em;
  left: 0em;
  width: 0em }

ul.navbar li {
  background: white ;
  margin: 0em;
  padding: 0em;
  border-right: 2em solid white }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  padding-top: 1em;
  border-top:  dotted }
h2 {
  padding-left: 1em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color:lightgray;
  text-align: center}
body {
  padding-left: 2.5em;
  padding-right: 5em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple }
 p {
    color: gray;
    text-align:justify;
    .em-wide  { letter-spacing: 25em; }
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7
    #Primer {
    word-spacing: 200px; }
